<h2>Product Details - {{formAction}}</h2>

<p></p>

<p *ngIf="formAction=='Update'"><button (click)="addToCart(product)" type="button">Buy</button></p>

<!--
<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>


    <ul *ngIf="product.items">Product Items
      <li *ngFor="let item of product.items">
        {{item.id}} / {{item.name}}: {{item.serial}}</li>
    </ul>
</div>
-->

<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
  <input id="productId" type="text" formControlName="productId">
  <div>
    <label for="name">
      name
    </label>
    <input id="name" type="text" formControlName="name" required>
  </div>
  <div>
    <label for="price">
      price
    </label>
    <input id="price" type="text" formControlName="price">
  </div>
  <div>
    <label for="description">
      description
    </label>
    <input id="description" type="text" formControlName="description">
  </div>
<p></p>
<h3>Items <button (click)="doRemoveProductItem(item.id)" type="button">+</button></h3>

<table class="table-data">
  <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Serial</th>
        <th class="table-col-action"></th>
      </tr>
  </thead>
  <tbody *ngIf="currentProduct.items">
      <tr *ngFor="let item of currentProduct.items">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.serial }}</td>
        <td class="table-col-action">
          <a (click)="doRemoveProductItem(item.id)"><i class="material-icons">delete</i></a>
        </td>
      </tr>
  </tbody>
</table>

<p>
  <button class="button" type="submit">Save</button>
  &nbsp;
  <button (click)="onNewProduct()" type="button">New</button>
</p>

</form>