<h2>Product Details - {{formAction}}</h2>

<p *ngIf="formAction=='Update'"><button (click)="addToCart(product)" type="button">Buy</button></p>

<!--
<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>


    <ul *ngIf="product.items">Product Items
      <li *ngFor="let item of product.items">
        {{item.id}} / {{item.name}}: {{item.serial}}</li>
    </ul>
</div>
-->

<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
 
  <input id="productId" type="hidden" formControlName="productId">
  <input id="formAction" type="hidden" formControlName="formAction">

  <div>
    <label for="name">
      name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="price">
      price
    </label>
    <input id="price" type="text" formControlName="price">
  </div>

  <div>
    <label for="description">
      description
    </label>
    <input id="description" type="text" formControlName="description">
  </div>

  <button class="button" type="submit">Save</button>
  &nbsp;
  <button (click)="onNewProduct()" type="button">New</button>
  

</form>