<h2 class="text-truncate">Products - <a [title]="'New'" [routerLink]="['/products', 'new']" class="button">
		New
	</a></h2>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
<!--
-->

<div class="row pl-2" *ngFor="let product of products">
	<div class="col col-sm-12  px-4 py-2 pl-2">
		<h4 class="text-truncate">
			<a [title]="product.name + ' details'" [routerLink]="['/products', product.productId]">
				{{ product.name }}
			</a>
		</h4>

		<p *ngIf="product.description" class="pl-2">
			Description: {{ product.description }}
		</p>

		<button (click)="share()" class="btn btn-primary">Share</button>
    &nbsp;
    <app-product-alerts
      [product]="product" 
      (notify)="onNotify()">
    </app-product-alerts>

    </div>
</div>